.version.desktop_client_download /* version checker */
{
	color: #0000EC;
	background-color: #47015D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 517px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 87px;
	margin-left: auto;
	margin-right: auto;
}

#pu14037
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 190px;
	margin-left: 148px;
}

#u14037
{
	z-index: 3;
	width: 250px;
	height: 250px;
	position: relative;
	background: transparent url("../images/windows.png") no-repeat center center;
	background-size: contain;
}

#u14045-8
{
	z-index: 4;
	width: 190px;
	min-height: 68px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	margin-top: 9px;
	position: relative;
}

#u13853
{
	z-index: 20;
	width: 165px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 136px;
	position: relative;
	margin-right: -10000px;
	left: 398px;
	background: transparent url("../images/out%20of%20the%20box%20data%20security-u8292-fr.png") no-repeat center center;
	background-size: contain;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 72px;
}

#pu14030
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 190px;
	margin-left: 563px;
}

#u14030
{
	z-index: 2;
	width: 250px;
	height: 250px;
	position: relative;
	background: transparent url("../images/os_x_el_capitan_logo.png") no-repeat center center;
	background-size: contain;
}

#u14046-8
{
	z-index: 12;
	width: 190px;
	min-height: 68px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

