.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

#u8755-5,#u8756-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u8715-5
{
	font-family: open-sans-n6, sans-serif;
}

#u9441-17,#u8717-5
{
	font-family: open-sans-n3, sans-serif;
}

#u8755,#u8756,#u8718-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u9441,#u9441-4,#u9441-7,#u9441-10,#u9441-13,#u8717,#u8720-4,#u8712-5
{
	font-family: open-sans-n6, sans-serif;
}

