.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u10803-17,#u10801-5
{
	font-family: open-sans-n3, sans-serif;
}

#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-9,#u10803-10,#u10803-11,#u10803-13,#u10801,#u10800-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11943.PamphletThumbSelected #u11944-3 p,#u11944-3
{
	font-family: open-sans-n7, sans-serif;
}

#u11961-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11966-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11965-4,#u11957-4,#u11952-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11959-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11973-5,#u11975-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u11948-4,#u11992-4,#u11973,#u11975,#u11974-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11951-4,#u11963-4,#u11936-8
{
	font-family: open-sans-n3, sans-serif;
}

