.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u10803-14,#u10801-5
{
	font-family: open-sans-n3, sans-serif;
}

#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-8,#u10803-10,#u10801,#u10800-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11415.PamphletThumbSelected #u11416-3 p,#u11416-3
{
	font-family: open-sans-n7, sans-serif;
}

#u11434-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11428-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11424-4,#u11436-4,#u11433-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11425-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11427-4,#u11423-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8755-5,#u8756-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u11418-4,#u8755,#u8756,#u8714-4,#u8715-5
{
	font-family: open-sans-n6, sans-serif;
}

#u8712-5
{
	font-family: open-sans-n6, sans-serif;
}

