.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u10803-17,#u10801-5
{
	font-family: open-sans-n3, sans-serif;
}

#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-9,#u10803-10,#u10803-11,#u10803-13,#u10801,#u10800-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13140-5,#u13141-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u13076.PamphletThumbSelected #u13077-3 p,#u13077-3
{
	font-family: open-sans-n7, sans-serif;
}

#u13140,#u13141,#u13143-4,#u13088-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13085-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13086-4,#u13082-4,#u13087-4
{
	font-family: open-sans-n7, sans-serif;
}

#u13095-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13099-4
{
	font-family: open-sans-n6, sans-serif;
}

#u13094-4,#u13081-4,#u13132-4,#u13105-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13104-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13114-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13113-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu13102.frm-sub-st #u13116-4 p,#u13116-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu13102.frm-subm-err-st #u13118-4 p,#u13118-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu13102.frm-subm-ok-st #u13117-4 p,#u13117-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13130-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13128-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13120-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13121-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu13103_input,#widgetu13103_prompt,#widgetu13111_input,#widgetu13111_prompt,#widgetu13127_input,#widgetu13127_prompt,#recaptcha_response_field,#widgetu13119_prompt
{
	font-family: open-sans, sans-serif;
}

#u13108-7
{
	font-family: open-sans-n3, sans-serif;
}


