.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

#u7145-5,#u7146-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u8111-5
{
	font-family: open-sans-n6, sans-serif;
}

#u8112-5
{
	font-family: open-sans-n6, sans-serif;
}

#u9442-17,#u8116-5
{
	font-family: open-sans-n3, sans-serif;
}

#u9442,#u9442-4,#u9442-7,#u9442-10,#u9442-13,#u8116,#u8115-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7145,#u7146,#u7140-4
{
	font-family: advent-pro-n7, sans-serif;
}

