.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u10819.PamphletThumbSelected #u10820-3 p,#u10820-3
{
	font-family: open-sans-n7, sans-serif;
}

#u10827-4,#u10848-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10847-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10849-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10837-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10839-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10838-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu10829.frm-sub-st #u10840-4 p,#u10840-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu10829.frm-subm-err-st #u10835-4 p,#u10835-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu10829.frm-subm-ok-st #u10830-4 p,#u10830-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10851-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10854-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10852-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10867-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10868-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10866-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu10846_input,#widgetu10846_prompt,#widgetu10836_input,#widgetu10836_prompt,#widgetu10850_input,#widgetu10850_prompt,#widgetu10865_input,#widgetu10865_prompt
{
	font-family: open-sans, sans-serif;
}

#u10828,#u10828-3
{
	font-family: open-sans-n4, sans-serif;
}

#u10828-7,#u10803-21,#u10801-5
{
	font-family: open-sans-n3, sans-serif;
}

#u10864-4,#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-9,#u10803-10,#u10803-12,#u10803-13,#u10803-14,#u10803-16,#u10803-17,#u10801,#u10800-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11415.PamphletThumbSelected #u11416-3 p,#u11416-3
{
	font-family: open-sans-n7, sans-serif;
}

#u11434-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11428-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11424-4,#u11436-4,#u11433-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11425-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11427-4,#u11423-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8755-5,#u8756-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u11418-4,#u8755,#u8756,#u8714-4,#u8715-5
{
	font-family: open-sans-n6, sans-serif;
}

#u8712-5
{
	font-family: open-sans-n6, sans-serif;
}

