.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u10803-17,#u10801-5
{
	font-family: open-sans-n3, sans-serif;
}

#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-9,#u10803-10,#u10803-11,#u10803-13,#u10801,#u10800-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11443.PamphletThumbSelected #u11444-3 p,#u11444-3
{
	font-family: open-sans-n7, sans-serif;
}

#u7145,#u11462-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11456-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11452-4,#u11464-4,#u11461-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11453-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11455-4,#u11451-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7145-5,#u7146-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u11446-4,#u7146,#u7141-4,#u8111-5
{
	font-family: open-sans-n6, sans-serif;
}

#u8112-5
{
	font-family: open-sans-n6, sans-serif;
}


