.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

#u706-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u6195-5,#u6196-5
{
	font-family: advent-pro-n6, sans-serif;
}

#u655-4
{
	font-family: open-sans-n6, sans-serif;
}

#u6195,#u6196,#u631-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u8666-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u652-10,#u491-4,#u8665-6,#u466-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u444-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u9437-17,#u6589-5
{
	font-family: open-sans-n3, sans-serif;
}

#u9437,#u9437-4,#u9437-7,#u9437-10,#u9437-13,#u6589,#u3734-4,#u8776-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8241-4
{
	font-family: open-sans-n6, sans-serif;
}

#u6207-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u6076-4
{
	font-family: advent-pro-n7, sans-serif;
}

