.version.index /* version checker */
{
	color: #0000E7;
	background-color: #56B445;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1582.9999999999986px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#pu8586
{
	width: 0.01px;
	margin-left: -100px;
}

#u8586
{
	z-index: 13;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 555px;
}

#u245
{
	z-index: 106;
	height: 633px;
	border-width: 1px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #00BFF3;
}

#u245-bw
{
	z-index: 106;
	margin-bottom: -1px;
	margin-top: 77px;
	height: 635px;
}

#u706-4
{
	z-index: 107;
	width: 32px;
	min-height: 52px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	padding-left: 24px;
	padding-top: 4px;
	color: #00BFF3;
	font-size: 40px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,1,-1,0,64,0);
	-ms-transform: matrix(0,1,-1,0,64,0);
	transform: matrix(0,1,-1,0,64,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 548px;
}

#u706-4:hover
{
	border-color: #FFFFFF;
	background-color: #00BFF3;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 32px;
	margin: 580px -10000px 0px 0px;
}

#u6195-5
{
	z-index: 111;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 850px;
}

#u6196-5
{
	z-index: 116;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 920px;
}

#u6195-3,#u6196-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6195-3  span,#u6195-3  a,#u6196-3  span,#u6196-3  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u6195,#u6196
{
	font-size: 18px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
}

#pamphletu442
{
	z-index: 121;
	width: 0.01px;
	height: 487px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 100px;
}

#u445
{
	z-index: 122;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 470px;
	left: 17px;
}

#u645
{
	position: absolute;
	width: 18px;
	height: 17px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	-pie-background: rgba(255,255,255,0.01);
}

#u645:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u645:active
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u645.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u446
{
	position: absolute;
	width: 18px;
	height: 17px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	left: 40px;
	-pie-background: rgba(255,255,255,0.01);
}

#u446:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u446:active
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u446.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u8658
{
	position: absolute;
	width: 18px;
	height: 17px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	left: 80px;
	-pie-background: rgba(255,255,255,0.01);
}

#u8658:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u8658:active
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u8658.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(107,107,107,0.01);
}

#u452
{
	position: absolute;
	width: 960px;
	background-color: transparent;
}

#u452popup
{
	z-index: 126;
}

#u646
{
	z-index: 127;
	width: 857px;
	height: 298px;
	border-color: #FFFFFF;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	padding: 68px 50px 27px 53px;
	-pie-background: rgba(107,107,107,0.01);
}

#pu652-10
{
	width: 0.01px;
}

#u652-10
{
	z-index: 128;
	width: 449px;
	min-height: 226px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 38px;
	text-align: left;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u653
{
	z-index: 138;
	width: 430px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u653_clip
{
	overflow: hidden;
	width: 430px;
	height: 244px;
}

#u653_img
{
	margin-left: -4px;
	margin-top: 5px;
	margin-right: 13px;
}

#u655-4
{
	z-index: 140;
	width: 232px;
	min-height: 36px;
	padding-top: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 106px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u655-4:hover
{
	background-color: #1BA28C;
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 232px;
	margin: 0px 0px -2px 106px;
}

.button
{
	border-style: none;
	border-color: #000000;
	background-color: #25C4AA;
	border-radius: 2px;
}

#u461
{
	z-index: 144;
	width: 960px;
	height: 393px;
	border-color: #FFFFFF;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#pu491-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 68px;
	margin-left: 53px;
}

#u491-4
{
	z-index: 145;
	width: 444px;
	min-height: 230px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 38px;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u631-4
{
	z-index: 149;
	width: 232px;
	min-height: 36px;
	background-color: #25C4AA;
	border-radius: 2px;
	padding-top: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	margin-left: 106px;
	margin-top: 12px;
	position: relative;
}

#u631-4:hover
{
	background-color: #1BA28C;
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 232px;
	margin: 12px 0px 0px 106px;
}

#u578
{
	z-index: 153;
	width: 458px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 497px;
}

#u578_clip
{
	overflow: hidden;
	width: 458px;
	height: 260px;
}

#u578_img
{
	margin: 14px 113px -14px 85px;
}

#u8659
{
	z-index: 155;
	width: 960px;
	height: 393px;
	border-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	background: #FDFDFD url("../images/appstore-u8659-fr.png") no-repeat left top;
	background-color: rgba(107,107,107,0.01);
}

#u8665-6
{
	z-index: 156;
	width: 610px;
	min-height: 170px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 38px;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 53px;
}

#u8666-4
{
	z-index: 162;
	width: 249px;
	min-height: 36px;
	background-color: #25C4AA;
	border-radius: 2px;
	padding-top: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 159px;
}

#u8666-4:hover
{
	background-color: #1BA28C;
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 249px;
	margin: 310px -10000px 0px 0px;
}

#u8667
{
	z-index: 166;
	width: 285px;
	height: 290px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 605px;
	background: transparent url("../images/light%20bulb%203.png") no-repeat center center;
	background-size: cover;
}

#u9617
{
	z-index: 167;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 53px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u9621
{
	z-index: 168;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 328px;
	background: transparent url("../images/appstore-u9621-fr.png") no-repeat center center;
	background-size: contain;
}

#u465
{
	position: absolute;
	width: 41px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	top: 393px;
	left: 409px;
	-pie-background: rgba(255,255,255,0.01);
}

#u465:hover
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(127,127,127,0.01);
	width: 41px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(127,127,127,0.01);
}

#u465:active
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	width: 41px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(153,153,153,0.01);
}

#u466-4
{
	z-index: 170;
	width: 36px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u466-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 36px;
	margin: 7px -10000px 0px 0px;
}

#u443
{
	position: absolute;
	width: 41px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	top: 393px;
	left: 510px;
	-pie-background: rgba(255,255,255,0.01);
}

#u443:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	width: 41px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u443:active
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	width: 41px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(153,153,153,0.01);
}

#u444-4
{
	z-index: 175;
	width: 26px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u444-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 26px;
	margin: 7px -10000px 0px 0px;
}

#u466-4:hover p,#u444-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6149
{
	z-index: 179;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 117px;
	background: transparent url("../images/ootbdslogo1.png") no-repeat center center;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 613px;
}

#pu3702
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 2px;
}

#u3702
{
	z-index: 2;
	min-height: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #00BFF3;
}

#u3702_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
}

#u9437-17
{
	z-index: 87;
	width: 119px;
	min-height: 79px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 204px;
}

#pu6589-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 341px;
}

#u6589-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	color: #25C4AA;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 148px;
	position: relative;
}

#u9437,#u9437-4,#u9437-7,#u9437-10,#u9437-13,#u6589
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u3734-4
{
	z-index: 3;
	width: 475px;
	min-height: 18px;
	background-color: transparent;
	line-height: 1.4;
	color: #081631;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7062
{
	z-index: 12;
	width: 75px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	margin-left: 200px;
	margin-top: 7px;
	position: relative;
	background: transparent url("../images/logotrns1.png") no-repeat center center;
	background-size: contain;
}

#u3702-bw
{
	z-index: 2;
	min-height: 150px;
	margin-bottom: -1px;
	margin-top: 720px;
}

#u304
{
	z-index: 14;
	min-height: 719px;
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #EBEBEB;
}

#u304_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
	padding-top: 50px;
	padding-bottom: 70px;
}

#whatweoffer
{
	left: 579px;
	position: relative;
}

#pu8158
{
	width: 0.01px;
	left: 171px;
	margin-top: 18px;
	position: relative;
}

#u8158
{
	z-index: 66;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/osi_symbol.png") no-repeat center center;
	background-size: contain;
}

#u8165
{
	z-index: 67;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 245px;
	background: transparent url("../images/versioning.png") no-repeat center center;
	background-size: contain;
}

#u8171
{
	z-index: 68;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
	background: transparent url("../images/lock-512.png") no-repeat center center;
	background-size: contain;
}

#u8178
{
	z-index: 69;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 735px;
	background: transparent url("../images/share.png") no-repeat center center;
	background-size: contain;
}

#pu800-4
{
	width: 0.01px;
	left: 147px;
	margin-top: 5px;
	position: relative;
}

#u800-4
{
	z-index: 15;
	width: 129px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u818-4
{
	z-index: 20;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u819-4
{
	z-index: 24;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u820-4
{
	z-index: 28;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#pu835-4
{
	width: 0.01px;
	left: 113px;
	margin-top: 4px;
	position: relative;
}

#u835-4
{
	z-index: 32;
	width: 197px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1047-4
{
	z-index: 36;
	width: 197px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1048-4
{
	z-index: 40;
	width: 197px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1049-4
{
	z-index: 44;
	width: 197px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#pu8773
{
	width: 0.01px;
	left: 208px;
	margin-top: 27px;
	position: relative;
}

#u8773
{
	z-index: 75;
	width: 312px;
	border-width: 5px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u8773:hover
{
	border-color: #FFFFFF;
	border-radius: 10px;
	width: 312px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
}

#u8775
{
	z-index: 82;
	width: 92px;
	height: 81px;
	margin-left: 109px;
	position: relative;
	background: transparent url("../images/personal%20icon-u8775-fr.png") no-repeat center center;
	background-size: cover;
}

#u8774-6
{
	z-index: 76;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -3px;
	margin-top: 1px;
	position: relative;
}

#u8776-4
{
	z-index: 83;
	width: 99px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 106px;
	margin-top: 8px;
	position: relative;
}

#u8776-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 99px;
	margin: 8px 0px 0px 106px;
}

#u8785
{
	z-index: 19;
	width: 312px;
	border-width: 5px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #EBEBEB;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 424px;
}

#u8785:hover
{
	border-color: #FFFFFF;
	background-color: #EBEBEB;
	border-radius: 10px;
	width: 312px;
	min-height: 0px;
	margin: -2px -10000px -3px 0px;
}

#u8773_position_content,#u8785_position_content
{
	margin-bottom: -2px;
	padding-top: 15px;
}

#u8215
{
	z-index: 70;
	width: 92px;
	height: 81px;
	margin-left: 110px;
	position: relative;
	background: transparent url("../images/enterprise-business-systems-icon-u8215-fr.png") no-repeat center center;
	background-size: cover;
}

#u6991-9
{
	z-index: 57;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -3px;
	margin-top: 1px;
	position: relative;
}

#u8774-6:hover,#u6991-9:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 1px 0px 0px;
}

#u6991-9:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 1px 0px 0px;
}

#u8774-2,#u6991-2
{
	font-size: 24px;
	color: #000000;
}

#u8774-4,#u6991-4
{
	font-size: 18px;
	color: #000000;
}

#u6991-7
{
	font-size: 18px;
}

#u6991-5
{
	color: #000000;
}

#u8241-4
{
	z-index: 71;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 88px;
	margin-top: 8px;
	position: relative;
}

#u8241-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 8px 0px 0px 88px;
}

#u8774-6:hover p,#u8776-4:hover p,#u8241-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u6207-4
{
	z-index: 49;
	width: 121px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	left: 518px;
	margin-top: 36px;
	position: relative;
}

#pu9647
{
	width: 0.01px;
	left: 256px;
	position: relative;
}

#u9647
{
	z-index: 104;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u9648
{
	z-index: 105;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
	background: transparent url("../images/appstore-u9621-fr.png") no-repeat center center;
	background-size: contain;
}

#u304-bw
{
	z-index: 14;
	min-height: 719px;
}

#u6076-4
{
	z-index: 53;
	width: 18px;
	min-height: 27px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-left: 13px;
	padding-top: 4px;
	color: #00BFF3;
	font-size: 18px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,-1,1,0,0,39);
	-ms-transform: matrix(0,-1,1,0,0,39);
	transform: matrix(0,-1,1,0,0,39);
	position: relative;
	margin-right: -10000px;
	margin-top: 700px;
	left: 560px;
}

#u6076-4:hover
{
	border-color: #FFFFFF;
	background-color: #00BFF3;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 18px;
	margin: 700px -10000px 0px 0px;
}

#u706-4:hover p,#u6076-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

