.version.index /* version checker */
{
	color: #000010;
	background-color: #17799C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2038.5256615304356px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -9px;
	width: 0.01px;
}

#u8586
{
	z-index: 27;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
	left: 960px;
}

#u245
{
	z-index: 140;
	height: 633px;
	border-width: 1px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #00BFF3;
}

#u245-bw
{
	z-index: 140;
	margin-top: 77px;
	height: 635px;
}

#u6195-5
{
	z-index: 141;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 850px;
}

#u6196-4
{
	z-index: 146;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 920px;
}

#u6195-3,#u6196-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6195-3  span,#u6195-3  a,#u6196-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u6195,#u6196
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#pamphletu442
{
	z-index: 150;
	width: 0.01px;
	height: 401px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 100px;
}

#u445
{
	z-index: 151;
	width: 124px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 418px;
}

#u645
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u645:hover
{
	border-color: #FFFFFF;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u645:active
{
	border-color: #BFF300;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u645.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u446
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 10px;
	left: 108px;
}

#u446:hover
{
	border-color: #6B6B6B;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u446:active
{
	border-color: #F3AE00;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u446.PamphletThumbSelected
{
	border-color: #FFFFFF;
	border-radius: 0px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u452
{
	position: absolute;
	width: 960px;
	background-color: transparent;
}

#u452popup
{
	z-index: 154;
}

#u646
{
	z-index: 155;
	width: 900px;
	height: 299px;
	border-color: #FFFFFF;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	padding: 68px 43px 9px 17px;
	-pie-background: rgba(107,107,107,0.01);
}

#u652-8
{
	z-index: 156;
	width: 468px;
	min-height: 226px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 36px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u9839
{
	z-index: 169;
	width: 432px;
	height: 227px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
	background: transparent url("../images/macbook-ipad%20cloud.png") no-repeat center center;
	background-size: contain;
}

#u9846
{
	z-index: 164;
	width: 345px;
	border-width: 11px;
	border-style: solid;
	border-color: #F3AE00;
	background-color: #F3AE00;
	border-radius: 10px;
	margin-left: 280px;
	margin-top: 21px;
	position: relative;
}

#u9846:hover
{
	border-color: #BFF300;
	background-color: #BFF300;
	width: 345px;
	min-height: 0px;
	margin: 21px 0px 0px 280px;
}

#u9847-4
{
	z-index: 165;
	width: 318px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 13px;
}

#u9847-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 318px;
	margin: -6px -10000px -5px 0px;
}

#u9847-4:hover p
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u461
{
	z-index: 170;
	width: 919px;
	height: 303px;
	border-color: #FFFFFF;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	padding: 64px 24px 9px 17px;
	-pie-background: rgba(107,107,107,0.01);
}

#pu652-8,#pu491-4
{
	width: 0.01px;
}

#u491-4
{
	z-index: 171;
	width: 496px;
	min-height: 230px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u578
{
	z-index: 175;
	width: 422px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 497px;
}

#u578_clip
{
	overflow: hidden;
	width: 422px;
	height: 240px;
}

#u578_img
{
	margin: 13px 105px -13px 78px;
}

#u9849
{
	z-index: 177;
	width: 345px;
	border-width: 11px;
	border-style: solid;
	border-color: #F3AE00;
	background-color: #F3AE00;
	border-radius: 10px;
	margin-left: 280px;
	margin-top: 12px;
	position: relative;
}

#u9849:hover
{
	border-color: #BFF300;
	background-color: #BFF300;
	width: 345px;
	min-height: 0px;
	margin: 12px 0px 0px 280px;
}

#u9850-4
{
	z-index: 178;
	width: 318px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 13px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6149
{
	z-index: 182;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 117px;
	background: transparent url("../images/ootbdslogo1.png") no-repeat center center;
}

#u10475
{
	z-index: 183;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 568px;
	border-width: 0px 0px 5px 5px;
}

#u10475:hover
{
	border-color: #F3AE00;
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 594px -10000px 0px 0px;
}

#u10478-4
{
	z-index: 184;
	width: 123px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 1.1;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: 4px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 518px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 613px;
}

#pamphletu10701
{
	z-index: 189;
	width: 0.01px;
	height: 80px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 885px;
}

#u10702
{
	z-index: 190;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 35px;
}

#u10703
{
	position: absolute;
	width: 379px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 4px;
	top: -37px;
	left: -35px;
}

#u10703:hover
{
	background-color: transparent;
	width: 379px;
	min-height: 0px;
	margin: 0px;
}

#u10704-3
{
	z-index: 192;
	width: 58px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 35px;
}

#u10703:hover #u10704-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 10px;
	width: 58px;
	margin: 37px -10000px 0px 0px;
}

#u10703.PamphletThumbSelected #u10704-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 10px;
	width: 58px;
	margin: 37px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u10703:hover #u10704-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10703.PamphletThumbSelected #u10704-3 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u10704
{
	padding-top: 14px;
}

#u10709
{
	position: absolute;
	width: 1026px;
	background-color: #26C8F4;
	background-color: rgba(0,191,243,0.85);
	padding-bottom: 46px;
	left: 342px;
	-pie-background: rgba(0,191,243,0.85);
}

#u10709popup
{
	z-index: 195;
}

#u10710
{
	z-index: 196;
	width: 960px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 23px;
	left: 23px;
	padding: 19px 10px 22px;
}

#u10761-4
{
	z-index: 248;
	width: 960px;
	min-height: 69px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu10755
{
	width: 0.01px;
	margin-top: 19px;
}

#u10755
{
	z-index: 223;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
}

#u10755:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10756-4
{
	z-index: 224;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u10759-8
{
	z-index: 236;
	width: 316px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u10760-4
{
	z-index: 244;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u10752
{
	z-index: 210;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F3AE00;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u10755:active,#u10752:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10757-4
{
	z-index: 228;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u10753-8
{
	z-index: 211;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u10754-4
{
	z-index: 219;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u10749
{
	z-index: 197;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F33400;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u10752:active,#u10749:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10758-4
{
	z-index: 232;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u10750-8
{
	z-index: 198;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u10753-8:hover,#u10750-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u10751-4
{
	z-index: 206;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 54px;
	margin-top: 14px;
	position: relative;
}

#pu10766
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u10766
{
	z-index: 256;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u10765-4
{
	z-index: 252;
	width: 137px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u10767
{
	z-index: 257;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 644px;
	background: transparent url("../images/appstore-u10767-fr.png") no-repeat center center;
	background-size: contain;
}

#u10747
{
	position: absolute;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 1346px;
}

#u10747:hover
{
	background-color: transparent;
	width: 22px;
	min-height: 0px;
	margin: 0px;
}

#u10748-4
{
	z-index: 259;
	width: 22px;
	min-height: 22px;
	background-color: transparent;
	color: #F33400;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#pu8586,#pu304
{
	width: 0.01px;
	margin-left: -100px;
}

#u304
{
	z-index: 28;
	min-height: 1153px;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
}

#u304_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 23px;
	padding-bottom: 23px;
}

#learnmore
{
	left: 567px;
	position: relative;
}

#u10600-4
{
	z-index: 135;
	width: 960px;
	min-height: 69px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 100px;
	margin-top: 677px;
	position: relative;
}

#pu9857
{
	width: 0.01px;
	left: 100px;
	margin-top: 35px;
	position: relative;
}

#u9857
{
	z-index: 62;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
}

#u10749:active,#u9857:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9858-4
{
	z-index: 63;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9861-8
{
	z-index: 75;
	width: 316px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u10759-8:hover,#u9861-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 316px;
	margin: 13px 0px 0px;
}

#u9862-4
{
	z-index: 83;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u9854
{
	z-index: 49;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F3AE00;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u9857:active,#u9854:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9859-4
{
	z-index: 67;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9855-8
{
	z-index: 50;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u9856-4
{
	z-index: 58;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u10760-4:hover,#u10754-4:hover,#u9862-4:hover,#u9856-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 14px 0px 0px 90px;
}

#u9851
{
	z-index: 36;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F33400;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u9854:active,#u9851:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9851:active
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10755_position_content,#u10752_position_content,#u10749_position_content,#u9857_position_content,#u9854_position_content,#u9851_position_content
{
	padding-top: 8px;
	padding-bottom: 13px;
}

#u9860-4
{
	z-index: 71;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9852-8
{
	z-index: 37;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u10750-8:active,#u9855-8:hover,#u9852-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u9852-8:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u10759-2,#u10753-2,#u10750-2,#u9861-2,#u9855-2,#u9852-2
{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
}

#u10750-4,#u10750-6,#u9852-4,#u9852-6
{
	font-size: 18px;
	color: #000000;
	font-weight: 300;
}

#u9853-4
{
	z-index: 45;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 54px;
	margin-top: 14px;
	position: relative;
}

#u10751-4:hover,#u9853-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 208px;
	margin: 14px 0px 0px 54px;
}

#u10759-8:hover p,#u10760-4:hover p,#u10753-8:hover p,#u10754-4:hover p,#u10751-4:hover p,#u9861-8:hover p,#u9862-4:hover p,#u9855-8:hover p,#u9856-4:hover p,#u9853-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu9647
{
	width: 0.01px;
	left: 147px;
	margin-top: 14px;
	position: relative;
}

#u9647
{
	z-index: 34;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u6207-4
{
	z-index: 30;
	width: 137px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u9648
{
	z-index: 35;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 644px;
	background: transparent url("../images/appstore-u10767-fr.png") no-repeat center center;
	background-size: contain;
}

#u304-bw
{
	z-index: 28;
	min-height: 1153px;
}

#pamphletu10571
{
	z-index: 87;
	width: 0.01px;
	height: 637px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u10578
{
	z-index: 88;
	width: 189px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 622px;
	left: 484px;
}

#u10579
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 10px;
}

#u10579:hover
{
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10583
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFF300;
	background-color: #BFF300;
	border-radius: 10px;
	left: 43px;
}

#u10583:hover
{
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10583.PamphletThumbSelected
{
	border-color: #BFF300;
	background-color: #BFF300;
	border-radius: 0px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10581
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #F3AE00;
	background-color: #F3AE00;
	border-radius: 10px;
	left: 86px;
}

#u10581:hover
{
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10582
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #F33406;
	background-color: #F33406;
	border-radius: 10px;
	left: 129px;
}

#u10582:hover
{
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10580
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #F300BF;
	background-color: #F300BF;
	border-radius: 10px;
	left: 173px;
}

#u10580:hover
{
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10579.PamphletThumbSelected,#u10581.PamphletThumbSelected,#u10582.PamphletThumbSelected,#u10580.PamphletThumbSelected
{
	border-radius: 0px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u10584
{
	position: absolute;
	width: 1160px;
	background-color: transparent;
}

#u10584popup
{
	z-index: 94;
}

#u10585
{
	z-index: 95;
	width: 1160px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u10616
{
	z-index: 102;
	width: 1160px;
	height: 550px;
	position: relative;
	background: transparent url("../images/sharing.jpg") no-repeat center center;
	background-size: contain;
}

#u10615-6
{
	z-index: 96;
	width: 960px;
	min-height: 63px;
	background-color: transparent;
	line-height: 1.4;
	margin-left: 100px;
	position: relative;
}

#u10615-2
{
	font-size: 24px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u10588
{
	z-index: 103;
	width: 1160px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u10617
{
	z-index: 104;
	width: 1160px;
	height: 550px;
	position: relative;
	background: transparent url("../images/out%20of%20the%20box%20videos.jpg") no-repeat center center;
	background-size: contain;
}

#u10624-6
{
	z-index: 105;
	width: 960px;
	min-height: 63px;
	background-color: transparent;
	line-height: 1.4;
	margin-left: 100px;
	position: relative;
}

#u10594
{
	z-index: 111;
	width: 1160px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u10626
{
	z-index: 118;
	width: 1160px;
	height: 550px;
	position: relative;
	background: transparent url("../images/out%20of%20the%20box%20files.jpg") no-repeat center center;
	background-size: contain;
}

#u10625-6
{
	z-index: 112;
	width: 960px;
	min-height: 63px;
	background-color: transparent;
	line-height: 1.4;
	margin-left: 100px;
	position: relative;
}

#u10597
{
	z-index: 119;
	width: 1160px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u10599
{
	z-index: 120;
	width: 1160px;
	height: 550px;
	position: relative;
	background: transparent url("../images/collaboration.jpg") no-repeat center center;
	background-size: contain;
}

#u10598-6
{
	z-index: 121;
	width: 960px;
	min-height: 63px;
	background-color: transparent;
	line-height: 1.4;
	margin-left: 100px;
	position: relative;
}

#u10624-2,#u10625-2,#u10598-2
{
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u10615-4,#u10624-4,#u10625-4,#u10598-4
{
	font-size: 18px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u10591
{
	z-index: 127;
	width: 1160px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#u10614
{
	z-index: 134;
	width: 1160px;
	height: 550px;
	position: relative;
	background: transparent url("../images/versioning.jpg") no-repeat center center;
	background-size: contain;
}

#u10613-6
{
	z-index: 128;
	width: 960px;
	min-height: 63px;
	background-color: transparent;
	margin-left: 100px;
	position: relative;
}

#u10613-2
{
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u10759-4,#u10759-6,#u10753-4,#u10753-6,#u9861-4,#u9861-6,#u9855-4,#u9855-6,#u10613-4
{
	font-size: 18px;
	color: #000000;
}

#u10808
{
	z-index: 139;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	margin-left: 469px;
	top: -10px;
	margin-bottom: -6px;
	position: relative;
	border-width: 3px 3px 0px 0px;
}

#u10808:hover
{
	border-color: #F3AE00;
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 0px 0px -6px 469px;
}

#u10799
{
	z-index: 2;
	min-height: 184.63056818311975px;
	padding-bottom: 0px;
}

#u10799_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 37px;
	padding-bottom: 8px;
	margin-bottom: -9px;
}

#u10803-14
{
	z-index: 13;
	width: 490px;
	min-height: 18px;
	left: 335px;
}

#u10801-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	left: 491px;
	margin-top: 7px;
}

#u10800-4
{
	z-index: 3;
	width: 510px;
	min-height: 18px;
	left: 326px;
	margin-top: 6px;
}

#u10802
{
	z-index: 12;
	width: 70px;
	height: 70px;
	left: 545px;
	margin-top: 3px;
}

#u10799-bw
{
	z-index: 2;
	min-height: 184.63056818311975px;
	margin-top: -9px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

