#u10799
{
	border-color: #00BFF3;
	background-color: #00BFF3;
}

#u10803-17
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u10801-5
{
	background-color: transparent;
	line-height: 1.4;
	font-size: 12px;
	color: #25C4AA;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u10803,#u10803-3,#u10803-4,#u10803-6,#u10803-7,#u10803-9,#u10803-10,#u10803-11,#u10803-13,#u10801
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u10800-4
{
	background-color: transparent;
	line-height: 1.4;
	color: #081631;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u10802
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/ootwcs250x250.png") no-repeat center center;
	background-size: contain;
}


