.version.ootbds_account_activated /* version checker */
{
	color: #000014;
	background-color: #56DA84;
}

.html
{
	background-color: #00BFF3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 681px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #00BFF3;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -9px;
	padding-top: 20px;
	width: 0.01px;
}

#u9530
{
	z-index: 30;
	width: 335px;
	height: 320px;
	margin-left: 313px;
	position: relative;
	background: transparent url("../images/out%20of%20the%20box%20data%20security-u9530-fr.png") no-repeat center center;
	background-size: cover;
}

#u9537-6
{
	z-index: 31;
	width: 624px;
	min-height: 101px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 168px;
	margin-top: 23px;
	position: relative;
}

#u9539-5
{
	z-index: 37;
	width: 508px;
	min-height: 50px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	margin-left: 226px;
	margin-top: 23px;
	position: relative;
}

#u9539
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u10799
{
	z-index: 2;
	min-height: 184.63056818311975px;
	padding-bottom: 0px;
}

#u10799_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 37px;
	padding-bottom: 8px;
	margin-bottom: -3px;
}

#u10803-17
{
	z-index: 13;
	width: 490px;
	min-height: 18px;
	left: 335px;
}

#u10801-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	left: 491px;
	margin-top: 7px;
}

#u10800-4
{
	z-index: 3;
	width: 510px;
	min-height: 18px;
	left: 326px;
	margin-top: 6px;
}

#u10802
{
	z-index: 12;
	width: 70px;
	height: 70px;
	left: 545px;
	margin-top: 3px;
}

#u10799-bw
{
	z-index: 2;
	min-height: 184.63056818311975px;
	margin-top: -3px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

