.version.ootbds_terms_of_service /* version checker */
{
	color: #000011;
	background-color: #A95ECB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: -9px;
	width: 0.01px;
}

#pamphletu11439
{
	z-index: 376;
	width: 0.01px;
	height: 80px;
	padding-bottom: 4px;
	margin-left: 785px;
	position: relative;
}

#u11442
{
	z-index: 377;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 35px;
}

#u11443
{
	position: absolute;
	width: 379px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 4px;
	top: -37px;
	left: -35px;
}

#u11443:hover
{
	background-color: transparent;
	width: 379px;
	min-height: 0px;
	margin: 0px;
}

#u11444-3
{
	z-index: 379;
	width: 58px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 35px;
}

#u11443:hover #u11444-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 10px;
	width: 58px;
	margin: 37px -10000px 0px 0px;
}

#u11443.PamphletThumbSelected #u11444-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 10px;
	width: 58px;
	margin: 37px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u11443:hover #u11444-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u11443.PamphletThumbSelected #u11444-3 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u11444
{
	padding-top: 14px;
}

#u11447
{
	position: absolute;
	width: 1024px;
	background-color: #26C8F4;
	background-color: rgba(0,191,243,0.85);
	padding-bottom: 44px;
	top: 149px;
	left: 374px;
	-pie-background: rgba(0,191,243,0.85);
}

#u11447popup
{
	z-index: 382;
}

#u11448
{
	z-index: 383;
	width: 960px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 19px 10px 22px;
}

#u11455-4
{
	z-index: 435;
	width: 960px;
	min-height: 69px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu11458
{
	width: 0.01px;
	margin-top: 19px;
}

#u11458
{
	z-index: 410;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
}

#u11458:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11452-4
{
	z-index: 411;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11450-8
{
	z-index: 423;
	width: 316px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11450-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 316px;
	margin: 13px 0px 0px;
}

#u11462-4
{
	z-index: 431;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u11463
{
	z-index: 397;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F3AE00;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u11458:active,#u11463:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11464-4
{
	z-index: 415;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11457-8
{
	z-index: 398;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11450-4,#u11450-6,#u11457-4,#u11457-6
{
	font-size: 18px;
	color: #000000;
}

#u11456-4
{
	z-index: 406;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u11462-4:hover,#u11456-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 14px 0px 0px 90px;
}

#u11454
{
	z-index: 384;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F33400;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u11463:active,#u11454:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11454:active
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11458_position_content,#u11463_position_content,#u11454_position_content
{
	padding-top: 8px;
	padding-bottom: 13px;
}

#u11461-4
{
	z-index: 419;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11460-8
{
	z-index: 385;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11457-8:hover,#u11460-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u11460-8:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u11450-2,#u11457-2,#u11460-2
{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
}

#u11460-4,#u11460-6
{
	font-size: 18px;
	color: #000000;
	font-weight: 300;
}

#u11453-4
{
	z-index: 393;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 54px;
	margin-top: 14px;
	position: relative;
}

#u11453-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 208px;
	margin: 14px 0px 0px 54px;
}

#u11450-8:hover p,#u11462-4:hover p,#u11457-8:hover p,#u11456-4:hover p,#u11453-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu11449
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u11449
{
	z-index: 443;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u11451-4
{
	z-index: 439;
	width: 137px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u11459
{
	z-index: 444;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 644px;
	background: transparent url("../images/appstore-u10767-fr.png") no-repeat center center;
	background-size: contain;
}

#u11445
{
	position: absolute;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 148px;
	left: 1376px;
}

#u11445:hover
{
	background-color: transparent;
	width: 22px;
	min-height: 0px;
	margin: 0px;
}

#u11446-4
{
	z-index: 446;
	width: 22px;
	min-height: 22px;
	background-color: transparent;
	color: #F33400;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu7136
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: -77px;
}

#u7136
{
	z-index: 46;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/ootbdslogo1.png") no-repeat center center;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 484px;
}

#u7145-5
{
	z-index: 35;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 733px;
}

#u7146-5
{
	z-index: 40;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 803px;
}

#u7145-3,#u7146-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7145-3  span,#u7145-3  a,#u7146-3  span,#u7146-3  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u7145,#u7146
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7141-4
{
	z-index: 47;
	width: 450px;
	min-height: 48px;
	background-color: transparent;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 51px;
	margin-top: 52px;
	position: relative;
}

#u8111-5
{
	z-index: 255;
	width: 160px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#u8111-5:hover
{
	background-color: #D3D3D3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u8112-5
{
	z-index: 260;
	width: 159px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u8112-5.MuseLinkActive
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D3D3D3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 158px;
	margin: 0px -10001px -2px 0px;
}

#u8112-5.MuseLinkActive p,#u8112-5.MuseLinkActive a
{
	text-align: center;
}

#pu8111-5,#pu8592
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: 26px;
}

#u8592
{
	z-index: 34;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 428px;
}

#u7139-204
{
	z-index: 51;
	width: 856px;
	min-height: 3504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7139-2
{
	font-size: 30px;
}

#pamphletu10817
{
	z-index: 266;
	width: 0.01px;
	height: 33px;
	padding-bottom: 7px;
	margin-left: 389px;
	margin-top: 30px;
}

#u10818
{
	z-index: 267;
	width: 86px;
	margin-right: -10000px;
	left: 2px;
}

#u10819
{
	width: 124px;
	padding-bottom: 7px;
	left: -2px;
}

#u10819:hover
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u10820-3
{
	z-index: 269;
	width: 74px;
	min-height: 21px;
	padding: 6px;
	margin-right: -10000px;
	left: 1px;
}

#u10819:hover #u10820-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u10819.PamphletThumbSelected #u10820-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u10825popup
{
	z-index: 272;
}

#u10825
{
	width: 1026px;
	padding-bottom: 44px;
	top: -571px;
	left: 949px;
}

#u10826
{
	z-index: 273;
	width: 980px;
	height: 476px;
	padding-top: 9px;
	padding-bottom: 12px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u10827-4
{
	z-index: 357;
	width: 980px;
	min-height: 74px;
}

#widgetu10829
{
	z-index: 274;
	width: 0.01px;
	height: 401px;
	margin-left: 140px;
}

#widgetu10846
{
	z-index: 275;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu10846.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10848-4
{
	z-index: 276;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u10847-4
{
	z-index: 280;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu10846:hover #u10847-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu10846.focus-st #u10847-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u10849-4
{
	z-index: 284;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu10836
{
	z-index: 288;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 54px;
	left: -1px;
}

#widgetu10836.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 54px -10000px 0px 0px;
}

#u10837-4
{
	z-index: 289;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u10839-4
{
	z-index: 293;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu10846.fld-err-st #u10847-4,#widgetu10836:hover #u10839-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu10836.focus-st #u10839-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u10838-4
{
	z-index: 297;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#u10840-4
{
	z-index: 301;
	width: 270px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 371px;
	left: 35px;
}

#u10835-4
{
	z-index: 305;
	width: 270px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 371px;
	left: 35px;
}

#u10830-4
{
	z-index: 309;
	width: 270px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 371px;
	left: 35px;
}

#widgetu10829.frm-sub-st #u10840-4,#widgetu10829.frm-subm-err-st #u10835-4,#widgetu10829.frm-subm-ok-st #u10830-4
{
	min-height: 30px;
}

#u10845-17
{
	z-index: 313;
	min-height: 31px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 335px;
	left: 105px;
}

#widgetu10850
{
	z-index: 330;
	width: 342px;
	height: 90px;
	margin-right: -10000px;
	margin-top: 195px;
	left: -1px;
}

#widgetu10850.fld-err-st
{
	width: 342px;
	height: 90px;
	min-height: 0px;
	margin: 195px -10000px 0px 0px;
}

#u10851-4
{
	z-index: 331;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u10854-4
{
	z-index: 335;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 62px;
}

#widgetu10850:hover #u10854-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px 0px 0px;
}

#widgetu10850.focus-st #u10854-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px 0px 0px;
}

#widgetu10850.fld-err-st #u10854-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px 0px 0px;
}

#u10852-4
{
	z-index: 339;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#u10853
{
	width: 151px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#widgetu10865
{
	z-index: 344;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 107px;
	left: -1px;
}

#widgetu10865.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#u10867-4
{
	z-index: 345;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu10846.fld-err-st #u10848-4,#widgetu10836.fld-err-st #u10837-4,#widgetu10850.fld-err-st #u10851-4,#widgetu10865.fld-err-st #u10867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u10868-4
{
	z-index: 349;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu10836.fld-err-st #u10839-4,#widgetu10865:hover #u10868-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu10865.focus-st #u10868-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu10865.fld-err-st #u10868-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#u10866-4
{
	z-index: 353;
	width: 130px;
	min-height: 20px;
	margin-right: -10000px;
	left: 211px;
}

#widgetu10846.fld-err-st #u10849-4,#widgetu10836.fld-err-st #u10838-4,#widgetu10850.fld-err-st #u10852-4,#widgetu10865.fld-err-st #u10866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu10846_input,#widgetu10846_prompt,#widgetu10836_input,#widgetu10836_prompt,#widgetu10850_input,#widgetu10850_prompt,#widgetu10865_input,#widgetu10865_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu10846:hover #widgetu10846_input,#widgetu10846.focus-st #widgetu10846_input,#widgetu10846.fld-err-st #widgetu10846_input,#widgetu10846:hover #widgetu10846_prompt,#widgetu10846.focus-st #widgetu10846_prompt,#widgetu10846.fld-err-st #widgetu10846_prompt,#widgetu10836:hover #widgetu10836_input,#widgetu10836.focus-st #widgetu10836_input,#widgetu10836.fld-err-st #widgetu10836_input,#widgetu10836:hover #widgetu10836_prompt,#widgetu10836.focus-st #widgetu10836_prompt,#widgetu10836.fld-err-st #widgetu10836_prompt,#widgetu10850:hover #widgetu10850_input,#widgetu10850.focus-st #widgetu10850_input,#widgetu10850.fld-err-st #widgetu10850_input,#widgetu10850:hover #widgetu10850_prompt,#widgetu10850.focus-st #widgetu10850_prompt,#widgetu10850.fld-err-st #widgetu10850_prompt,#widgetu10865:hover #widgetu10865_input,#widgetu10865.focus-st #widgetu10865_input,#widgetu10865.fld-err-st #widgetu10865_input,#widgetu10865:hover #widgetu10865_prompt,#widgetu10865.focus-st #widgetu10865_prompt,#widgetu10865.fld-err-st #widgetu10865_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u10869
{
	z-index: 368;
	width: 361px;
	min-height: 70px;
	margin-left: 542px;
	top: -396px;
	margin-bottom: -70px;
}

#u10871
{
	z-index: 369;
	width: 361px;
	min-height: 43px;
	margin-left: 542px;
	top: -320px;
	margin-bottom: -43px;
}

#u10876
{
	z-index: 370;
	width: 361px;
	min-height: 70px;
	margin-left: 542px;
	top: -270px;
	margin-bottom: -70px;
}

#u10828-7
{
	z-index: 361;
	width: 340px;
	min-height: 34px;
	margin-left: 140px;
	top: -109px;
	margin-bottom: -34px;
}

#u10863
{
	width: 22px;
	top: -571px;
	left: 1953px;
}

#u10863:hover
{
	width: 22px;
	min-height: 0px;
	margin: 0px;
}

#u10864-4
{
	z-index: 372;
	width: 22px;
	min-height: 22px;
	margin-right: -10000px;
}

#u10813
{
	z-index: 265;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	margin-left: 469px;
	top: -81px;
	margin-bottom: -26px;
	position: relative;
	border-width: 3px 3px 0px 0px;
}

#u10813:hover
{
	border-color: #F3AE00;
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 0px 0px -26px 469px;
}

#u10799
{
	z-index: 2;
	min-height: 184.63056818311952px;
	padding-bottom: 0px;
}

#u10799_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 37px;
	padding-bottom: 8px;
	margin-bottom: -58px;
}

#u10803-21
{
	z-index: 13;
	width: 490px;
	min-height: 18px;
	left: 335px;
}

#u10801-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	left: 491px;
	margin-top: 7px;
}

#u10800-4
{
	z-index: 3;
	width: 510px;
	min-height: 18px;
	left: 326px;
	margin-top: 6px;
}

#u10802
{
	z-index: 12;
	width: 70px;
	height: 70px;
	left: 545px;
	margin-top: 3px;
}

#u10799-bw
{
	z-index: 2;
	min-height: 184.63056818311952px;
	margin-top: -58px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

