.version.ootbds_privacy_policy /* version checker */
{
	color: #000015;
	background-color: #3FD9D3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3448.9381615304387px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -9px;
	width: 0.01px;
}

#pu8719
{
	width: 0.01px;
	padding-bottom: 396px;
	margin-left: 17px;
}

#u8719
{
	z-index: 42;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/ootbdslogo1.png") no-repeat center center;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 484px;
}

#u8755-5
{
	z-index: 31;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 733px;
}

#pamphletu11411
{
	z-index: 281;
	width: 0.01px;
	height: 64px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 803px;
}

#u11414
{
	z-index: 282;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u11415
{
	position: absolute;
	width: 122px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 20px;
	top: -18px;
}

#u11415:hover
{
	background-color: transparent;
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u11416-3
{
	z-index: 284;
	width: 81px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u11415:hover #u11416-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 34px;
	width: 81px;
	margin: 18px -10000px 0px 0px;
}

#u11415.PamphletThumbSelected #u11416-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 34px;
	width: 81px;
	margin: 18px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u11415:hover #u11416-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u11415.PamphletThumbSelected #u11416-3 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u11416
{
	padding-top: 14px;
}

#u11419
{
	position: absolute;
	width: 1024px;
	background-color: #26C8F4;
	background-color: rgba(0,191,243,0.85);
	padding-bottom: 44px;
	top: 55px;
	left: 328px;
	-pie-background: rgba(0,191,243,0.85);
}

#u11419popup
{
	z-index: 287;
}

#u11420
{
	z-index: 288;
	width: 960px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 19px 10px 22px;
}

#u11427-4
{
	z-index: 340;
	width: 960px;
	min-height: 69px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu11430
{
	width: 0.01px;
	margin-top: 19px;
}

#u11430
{
	z-index: 315;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
}

#u11430:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11424-4
{
	z-index: 316;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11422-8
{
	z-index: 328;
	width: 316px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11422-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 316px;
	margin: 13px 0px 0px;
}

#u11434-4
{
	z-index: 336;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u11435
{
	z-index: 302;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F3AE00;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u11430:active,#u11435:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11436-4
{
	z-index: 320;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11429-8
{
	z-index: 303;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11422-4,#u11422-6,#u11429-4,#u11429-6
{
	font-size: 18px;
	color: #000000;
}

#u11428-4
{
	z-index: 311;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u11434-4:hover,#u11428-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 14px 0px 0px 90px;
}

#u11426
{
	z-index: 289;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F33400;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u11435:active,#u11426:hover
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11426:active
{
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11430_position_content,#u11435_position_content,#u11426_position_content
{
	padding-top: 8px;
	padding-bottom: 13px;
}

#u11433-4
{
	z-index: 324;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11432-8
{
	z-index: 290;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11429-8:hover,#u11432-8:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u11432-8:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 13px 0px 0px;
}

#u11422-2,#u11429-2,#u11432-2
{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
}

#u11432-4,#u11432-6
{
	font-size: 18px;
	color: #000000;
	font-weight: 300;
}

#u11425-4
{
	z-index: 298;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 54px;
	margin-top: 14px;
	position: relative;
}

#u11425-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 208px;
	margin: 14px 0px 0px 54px;
}

#u11422-8:hover p,#u11434-4:hover p,#u11429-8:hover p,#u11428-4:hover p,#u11425-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu11421
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u11421
{
	z-index: 348;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u11423-4
{
	z-index: 344;
	width: 137px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u11431
{
	z-index: 349;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 644px;
	background: transparent url("../images/appstore-u10767-fr.png") no-repeat center center;
	background-size: contain;
}

#u11417
{
	position: absolute;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 54px;
	left: 1330px;
}

#u11417:hover
{
	background-color: transparent;
	width: 22px;
	min-height: 0px;
	margin: 0px;
}

#u11418-4
{
	z-index: 351;
	width: 22px;
	min-height: 22px;
	background-color: transparent;
	color: #F33400;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u8756-5
{
	z-index: 36;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 803px;
}

#u8755-3,#u8756-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8755-3  span,#u8755-3  a,#u8756-3  span,#u8756-3  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u8755,#u8756
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u8714-4
{
	z-index: 266;
	width: 450px;
	min-height: 48px;
	background-color: transparent;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 51px;
	top: -344px;
	margin-bottom: -48px;
	position: relative;
}

#pu8715-5
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: -270px;
}

#u8715-5
{
	z-index: 270;
	width: 159px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8715-5.MuseLinkActive
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D3D3D3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 158px;
	margin: 0px -10001px -2px 0px;
}

#u8715-5.MuseLinkActive p
{
	text-align: center;
}

#u8712-5
{
	z-index: 275;
	width: 160px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u8712-5:hover
{
	background-color: #D3D3D3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#pu8769
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: -217px;
}

#u8769
{
	z-index: 30;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 428px;
}

#u8716-223
{
	z-index: 43;
	width: 856px;
	min-height: 2960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8716-2,#u8716-3
{
	font-size: 30px;
}

#u10812
{
	z-index: 280;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,11);
	margin-left: 469px;
	top: -22px;
	margin-bottom: -18px;
	position: relative;
	border-width: 3px 3px 0px 0px;
}

#u10812:hover
{
	border-color: #F3AE00;
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 0px 0px -18px 469px;
}

#u10799
{
	z-index: 2;
	min-height: 184.63056818311952px;
	padding-bottom: 0px;
}

#u10799_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 37px;
	padding-bottom: 8px;
	margin-bottom: -7px;
}

#u10803-17
{
	z-index: 13;
	width: 490px;
	min-height: 18px;
	left: 335px;
}

#u10801-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	left: 491px;
	margin-top: 7px;
}

#u10800-4
{
	z-index: 3;
	width: 510px;
	min-height: 18px;
	left: 326px;
	margin-top: 6px;
}

#u10802
{
	z-index: 12;
	width: 70px;
	height: 70px;
	left: 545px;
	margin-top: 3px;
}

#u10799-bw
{
	z-index: 2;
	min-height: 184.63056818311952px;
	margin-top: -7px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

