.version.ootbds_account_activated /* version checker */
{
	color: #000019;
	background-color: #299F94;
}

.html
{
	background-color: #00BFF3;
}

#page
{
	z-index: 1;
	width: 624px;
	min-height: 517px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #00BFF3;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 168px 144px;
}

#u9530
{
	z-index: 2;
	width: 335px;
	height: 320px;
	margin-left: 145px;
	position: relative;
	background: transparent url("../images/ootbdslogoalpha-u9530-fr.png") no-repeat center center;
	background-size: cover;
}

#u9537-6
{
	z-index: 3;
	width: 624px;
	min-height: 101px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	margin-top: 23px;
	position: relative;
}

#u9539-5
{
	z-index: 9;
	width: 408px;
	min-height: 50px;
	background-color: transparent;
	font-size: 36px;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	margin-left: 108px;
	margin-top: 23px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

