.version.out_of_the_box_data_security_enterprise_thank_you /* version checker */
{
	color: #000011;
	background-color: #94D184;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 853px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -13px;
	margin-left: -100px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 569px;
}

#u13432
{
	z-index: 31;
	min-height: 605px;
	padding-bottom: 110px;
	background: transparent url("../images/out%20of%20the%20box%20data%20security%20business%20wallpaper.jpg") no-repeat center bottom;
	background-size: cover;
}

#u13432_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u13382
{
	z-index: 47;
	width: 960px;
	background-color: #98A2B2;
	background-color: rgba(45,67,99,0.49);
	padding-bottom: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 100px;
	-pie-background: rgba(45,67,99,0.49);
}

#u13412
{
	z-index: 124;
	width: 345px;
	border-style: solid;
	border-width: 11px;
	border-color: #F3AE00;
	background-color: #F3AE00;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 286px;
}

#u13412:hover
{
	border-color: #BFF300;
	background-color: #BFF300;
	width: 345px;
	min-height: 0px;
	margin: 262px -10000px 0px 0px;
}

#u13413-4
{
	z-index: 125;
	width: 318px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 13px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u13432-bw
{
	z-index: 31;
	min-height: 605px;
	margin-top: 90px;
}

#u13368-5
{
	z-index: 32;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 850px;
}

#u13371-5
{
	z-index: 37;
	width: 70px;
	min-height: 22px;
	background-color: transparent;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 920px;
}

#u13368-3,#u13371-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13368,#u13371
{
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u13370
{
	z-index: 42;
	width: 165px;
	height: 154px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 117px;
	background: transparent url("../images/out%20of%20the%20box%20data%20security-u9076-fr.png") no-repeat center center;
	background-size: contain;
}

#u13369-4
{
	z-index: 43;
	width: 174px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 282px;
}

#pamphletu13383
{
	z-index: 48;
	width: 0.01px;
	height: 70px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 920px;
}

#u13404
{
	z-index: 49;
	width: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u13405
{
	position: absolute;
	width: 134px;
	border-width: 0px;
	background-color: transparent;
	padding-bottom: 15px;
	top: -26px;
}

#u13405:hover
{
	background-color: transparent;
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u13406-3
{
	z-index: 51;
	width: 78px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u13405:hover #u13406-3
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 78px;
	margin: 27px -10000px 0px 0px;
}

#u13405.PamphletThumbSelected #u13406-3
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 78px;
	margin: 27px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-color: #353535;
	background-color: transparent;
}

#u13405:hover #u13406-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13405.PamphletThumbSelected #u13406-3 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u13406
{
	padding-top: 14px;
}

#u13384
{
	position: absolute;
	width: 1024px;
	background-color: #627686;
	background-color: rgba(71,94,113,0.85);
	padding-bottom: 44px;
	top: -13px;
	left: 307px;
	-pie-background: rgba(71,94,113,0.85);
}

#u13384popup
{
	z-index: 54;
}

#u13385
{
	z-index: 55;
	width: 960px;
	height: 402px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 19px 10px 22px;
}

#u13395-4
{
	z-index: 101;
	width: 960px;
	min-height: 69px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu13390
{
	width: 0.01px;
	margin-top: 19px;
}

#u13390
{
	z-index: 78;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #00BFF3;
	position: relative;
	margin-right: -10000px;
}

#u13390:hover
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13390_position_content
{
	padding-top: 8px;
	padding-bottom: 13px;
	width: 100%;
}

#u13392-4
{
	z-index: 79;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u13399-6
{
	z-index: 91;
	width: 316px;
	min-height: 97px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
	position: relative;
}

#u13399-6:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 316px;
	margin: 0px;
}

#u13388-4
{
	z-index: 97;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u13400
{
	z-index: 67;
	width: 317px;
	border-color: #FFFFFF;
	background-color: #F3AE00;
	padding-top: 8px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u13390:active,#u13400:hover
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13400:active
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 2px;
	width: 317px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13389-4
{
	z-index: 83;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u13397-6
{
	z-index: 68;
	width: 317px;
	min-height: 97px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
	position: relative;
}

#u13393-4
{
	z-index: 74;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 90px;
	margin-top: 14px;
	position: relative;
}

#u13388-4:hover,#u13393-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 14px 0px 0px 90px;
}

#u13387
{
	z-index: 56;
	width: 316px;
	border-color: #FFFFFF;
	background-color: #F33400;
	padding-top: 8px;
	padding-right: 1px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u13387:hover
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 2px;
	width: 316px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13387:active
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 2px;
	width: 316px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13398-4
{
	z-index: 87;
	width: 317px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u13391-6
{
	z-index: 57;
	width: 317px;
	min-height: 97px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
	position: relative;
}

#u13397-6:hover,#u13391-6:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 317px;
	margin: 0px;
}

#u13391-6:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 317px;
	margin: 0px;
}

#u13399-2,#u13399-4,#u13397-2,#u13397-4,#u13391-2,#u13391-4
{
	font-size: 30px;
	color: #000000;
}

#u13386-4
{
	z-index: 63;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 54px;
	margin-top: 14px;
	position: relative;
}

#u13386-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 208px;
	margin: 14px 0px 0px 54px;
}

#u13399-6:hover p,#u13388-4:hover p,#u13397-6:hover p,#u13393-4:hover p,#u13386-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu13394
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u13394
{
	z-index: 109;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	background: transparent url("../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u13401-4
{
	z-index: 105;
	width: 137px;
	min-height: 21px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u13396
{
	z-index: 110;
	width: 220px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 644px;
	background: transparent url("../images/appstore-u10767-fr.png") no-repeat center center;
	background-size: contain;
}

#u13402
{
	position: absolute;
	width: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -13px;
	left: 1311px;
}

#u13402:hover
{
	background-color: transparent;
	width: 22px;
	min-height: 0px;
	margin: 0px;
}

#u13403-4
{
	z-index: 112;
	width: 22px;
	min-height: 22px;
	background-color: transparent;
	color: #F33400;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u13411-8
{
	z-index: 116;
	width: 960px;
	min-height: 180px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 100px;
}

#u13411-3
{
	font-size: 36px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13368-3 span,#u13368-3 a,#u13371-3 span,#u13411-3 span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u13411
{
	font-size: 48px;
}

#u13411-4
{
	font-size: 36px;
}

#u13411-6
{
	font-size: 27px;
}

#u10799
{
	z-index: 2;
	min-height: 184.63056818311975px;
	padding-bottom: 0px;
}

#u10799_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 38px;
	padding-bottom: 8px;
}

#u10803-17
{
	z-index: 13;
	width: 510px;
	min-height: 18px;
	left: 326px;
	position: relative;
}

#u10801-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	left: 490px;
	margin-top: 6px;
	position: relative;
}

#u10800-4
{
	z-index: 3;
	width: 510px;
	min-height: 18px;
	left: 326px;
	margin-top: 6px;
	position: relative;
}

#u10802
{
	z-index: 12;
	width: 70px;
	height: 70px;
	left: 545px;
	margin-top: 3px;
	position: relative;
}

#u10799-bw
{
	z-index: 2;
	min-height: 184.63056818311975px;
	margin-top: -3px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

