.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u11111-9,#u10935-5,#u10937-15
{
	font-family: open-sans-n3, sans-serif;
}

#u11111,#u11111-2,#u11111-4,#u11111-5,#u10935,#u10934-4,#u10937,#u10937-3,#u10937-4,#u10937-6,#u10937-7,#u10937-9,#u10937-10,#u10937-12
{
	font-family: open-sans-n6, sans-serif;
}

#u12479-13
{
	font-family: open-sans-n3, sans-serif;
}

#u12537-4
{
	font-family: open-sans-n6, sans-serif;
}

