.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

#u9083-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u9112-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u9081-4,#u9079-4,#u9102-4
{
	font-family: open-sans-n6, sans-serif;
}

#u9106-4
{
	font-family: open-sans-n6, sans-serif;
}

#u9109-5,#u9458-17
{
	font-family: open-sans-n3, sans-serif;
}

#u9109,#u9108-4,#u9458,#u9458-3,#u9458-4,#u9458-6,#u9458-7,#u9458-9,#u9458-10,#u9458-12,#u9458-13
{
	font-family: open-sans-n6, sans-serif;
}

#u9111-4
{
	font-family: advent-pro-n7, sans-serif;
}

