.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u11111-9,#u10935-5,#u10937-15
{
	font-family: open-sans-n3, sans-serif;
}

#u11111,#u11111-2,#u11111-4,#u11111-5,#u10935,#u10934-4,#u10937,#u10937-3,#u10937-4,#u10937-6,#u10937-7,#u10937-9,#u10937-10,#u10937-12
{
	font-family: open-sans-n6, sans-serif;
}

#u11104-4,#u11098-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11097-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11099-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11089-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11088-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11090-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu11082.frm-sub-st #u11086-4 p,#u11086-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu11082.frm-subm-err-st #u11085-4 p,#u11085-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu11082.frm-subm-ok-st #u11084-4 p,#u11084-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11094-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11093-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11095-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11101-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11102-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11103-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu11096_input,#widgetu11096_prompt,#widgetu11087_input,#widgetu11087_prompt,#widgetu11091_input,#widgetu11091_prompt,#widgetu11100_input,#widgetu11100_prompt
{
	font-family: open-sans, sans-serif;
}

