.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

.Title
{
	font-family: josefin-n3, sans-serif;
}

#u11111-9,#u10935-5,#u10937-15
{
	font-family: open-sans-n3, sans-serif;
}

#u11111,#u11111-2,#u11111-4,#u11111-5,#u10935,#u10934-6,#u10937,#u10937-3,#u10937-4,#u10937-6,#u10937-7,#u10937-9,#u10937-10,#u10937-12
{
	font-family: open-sans-n6, sans-serif;
}

#u11125-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u11118-6,#u11202-2,#u11206-2,#u11206-4,#u11199-2,#u11199-4,#u11196-2,#u11196-4,#u11194-2,#u11194-4,#u11207-6,#u13441-4,#u13440-18,#u13445-4,#u13446-20,#u13450-4,#u13451-24
{
	font-family: open-sans-n3, sans-serif;
}

#u11119-4,#u11122-4,#u13442-4,#u13448-4,#u13453-4
{
	font-family: open-sans-n6, sans-serif;
}

