.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.heading2,.heading1,.heading3
{
	font-family: advent-pro-n6, sans-serif;
}

.navigation-red,.navigation-white,.quote-text,.bodytext1,.bodytext2
{
	font-family: open-sans-n3, sans-serif;
}

#u9465-4
{
	font-family: advent-pro-n7, sans-serif;
}

#u9466-4,#u9467-5,#u9478-5,#u9481-17
{
	font-family: open-sans-n3, sans-serif;
}

#u9478,#u9477-4,#u9481,#u9481-3,#u9481-4,#u9481-6,#u9481-7,#u9481-9,#u9481-10,#u9481-12,#u9481-13
{
	font-family: open-sans-n6, sans-serif;
}

#u9480-4
{
	font-family: advent-pro-n7, sans-serif;
}

