.version.index /* version checker */
{
	color: #0000E5;
	background-color: #31BE91;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1652.8305681831175px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1.1694318168824793px;
}

#top
{
	margin-left: 178px;
	position: relative;
}

#pu9114
{
	width: 0.01px;
	margin-top: 53px;
}

#u9114
{
	z-index: 34;
	min-height: 478px;
	background-color: #EBEBEB;
	padding: 38px 17px 28px 16px;
}

#learnmore
{
	margin-left: 162px;
	position: relative;
}

#pu9118
{
	width: 0.01px;
	margin-left: 41px;
	position: relative;
}

#u9118
{
	z-index: 73;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/osi_symbol.png") no-repeat center center;
	background-size: contain;
}

#u9121
{
	z-index: 82;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 184px;
	background: transparent url("../../images/versioning.png") no-repeat center center;
	background-size: contain;
}

#pu9116-4
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 5px;
	position: relative;
}

#u9116-4
{
	z-index: 65;
	width: 129px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u9119-4
{
	z-index: 74;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#pu9117-4
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u9117-4
{
	z-index: 69;
	width: 163px;
	min-height: 117px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9120-4
{
	z-index: 78;
	width: 163px;
	min-height: 117px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#pu9126
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 25px;
	position: relative;
}

#u9126
{
	z-index: 99;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/lock-512.png") no-repeat center center;
	background-size: contain;
}

#u9127
{
	z-index: 100;
	width: 80px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 184px;
	background: transparent url("../../images/share.png") no-repeat center center;
	background-size: contain;
}

#pu9122-4
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 7px;
	position: relative;
}

#u9122-4
{
	z-index: 83;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9123-4
{
	z-index: 87;
	width: 129px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#pu9124-4
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u9124-4
{
	z-index: 91;
	width: 163px;
	min-height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9125-4
{
	z-index: 95;
	width: 163px;
	min-height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u9114-bw
{
	z-index: 34;
	min-height: 478px;
	margin-top: 280px;
}

#u9077
{
	z-index: 101;
	min-height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #00BFF3;
}

#u9077_position_content
{
	margin-top: -71px;
	padding-bottom: 85px;
}

#u9076
{
	z-index: 102;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	margin-left: 108px;
	position: relative;
	background: transparent url("../../images/ootbdslogo1.png") no-repeat center center;
}

#u9080
{
	z-index: 108;
	width: 161px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: 105px;
	margin-top: 55px;
	position: relative;
}

#u9080:hover
{
	border-color: #FFFFFF;
	width: 161px;
	min-height: 0px;
	margin: 55px 0px 0px 105px;
}

#u9081-4
{
	z-index: 109;
	width: 166px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: -3px;
}

#u9077-bw
{
	z-index: 101;
	min-height: 280px;
}

#u9078
{
	z-index: 103;
	width: 161px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 105px;
}

#u9078:hover
{
	border-color: #FFFFFF;
	width: 161px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#u9079-4
{
	z-index: 104;
	width: 166px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -3px;
}

#u9083-4
{
	z-index: 113;
	width: 32px;
	min-height: 52px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	padding-left: 24px;
	padding-top: 4px;
	color: #00BFF3;
	font-size: 40px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,1,-1,0,64,0);
	-ms-transform: matrix(0,1,-1,0,64,0);
	transform: matrix(0,1,-1,0,64,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 157px;
}

#u9083-4:hover
{
	border-color: #FFFFFF;
	background-color: #00BFF3;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 32px;
	margin: 248px -10000px 0px 0px;
}

#u9112-4
{
	z-index: 117;
	width: 32px;
	min-height: 52px;
	border-width: 4px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	border-radius: 50px;
	padding-left: 24px;
	padding-top: 4px;
	color: #EBEBEB;
	font-size: 40px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,1,-1,0,64,0);
	-ms-transform: matrix(0,1,-1,0,64,0);
	transform: matrix(0,1,-1,0,64,0);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 792px;
	left: 157px;
}

#u9112-4:hover
{
	border-color: #FFFFFF;
	background-color: #EBEBEB;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 32px;
	margin: 792px -10000px -2px 0px;
}

#u9239
{
	z-index: 121;
	width: 142px;
	height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 16px;
	background: transparent url("../../images/playstore.png") no-repeat center center;
	background-size: contain;
}

#u9634
{
	z-index: 122;
	width: 142px;
	height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 221px;
	background: transparent url("../../images/appstore-u9634-fr.png") no-repeat center center;
	background-size: contain;
}

#signup
{
	margin-left: 179px;
	margin-top: 9px;
	position: relative;
}

#u9099
{
	z-index: 38;
	width: 326px;
	border-width: 5px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: transparent;
	border-radius: 10px;
	margin-left: 22px;
	margin-top: 6px;
	position: relative;
}

#u9099:hover
{
	background-image: none;
	background-color: #EBEBEB;
	-pie-background: none;
	border-radius: 10px;
	width: 326px;
	min-height: 0px;
	margin: 6px 0px 0px 22px;
}

#u9099.MuseLinkActive
{
	background: transparent url("../../images/u9099-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(18%, #FFFFFF),to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,#FFFFFF 18%,rgba(255,255,255,0) );
	background: linear-gradient(to bottom,#FFFFFF 18%,rgba(255,255,255,0) );
	width: 326px;
	min-height: 0px;
	margin: 6px 0px 0px 22px;
}

#u9099_position_content
{
	margin-bottom: -2px;
	padding-top: 15px;
}

#u9101
{
	z-index: 45;
	width: 92px;
	height: 81px;
	margin-left: 117px;
	position: relative;
	background: transparent url("../../images/personal%20icon-u9101-fr.png") no-repeat center center;
	background-size: cover;
}

#u9100-6
{
	z-index: 39;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 1px;
	position: relative;
}

#u9100-6:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 1px 0px 0px 5px;
}

#u9102-4
{
	z-index: 46;
	width: 99px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 114px;
	margin-top: 8px;
	position: relative;
}

#u9102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 99px;
	margin: 8px 0px 0px 114px;
}

#u9103
{
	z-index: 50;
	width: 326px;
	border-width: 5px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-left: 22px;
	margin-top: 17px;
	position: relative;
}

#u9103:hover
{
	background-color: #EBEBEB;
	border-radius: 10px;
	width: 326px;
	min-height: 0px;
	margin: 17px 0px 0px 22px;
}

#u9103_position_content
{
	margin-bottom: -1px;
	padding-top: 15px;
}

#u9105
{
	z-index: 60;
	width: 92px;
	height: 81px;
	margin-left: 117px;
	position: relative;
	background: transparent url("../../images/enterprise-business-systems-icon-u9105-fr.png") no-repeat center center;
	background-size: cover;
}

#u9104-9
{
	z-index: 51;
	width: 317px;
	min-height: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 1px;
	position: relative;
}

#u9104-9:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 1px 0px 0px 4px;
}

#u9104-9:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 317px;
	margin: 1px 0px 0px 4px;
}

#u9100-2,#u9104-2
{
	font-size: 24px;
	color: #000000;
}

#u9100-4,#u9104-4
{
	font-size: 18px;
	color: #000000;
}

#u9104-7
{
	font-size: 18px;
}

#u9104-5
{
	color: #000000;
}

#u9106-4
{
	z-index: 61;
	width: 136px;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 94px;
	margin-top: 7px;
	position: relative;
}

#u9106-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 136px;
	margin: 7px 0px 0px 94px;
}

#u9100-6:hover p,#u9102-4:hover p,#u9106-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#pu9107
{
	width: 0.01px;
	margin-top: 19px;
}

#u9107
{
	z-index: 2;
	min-height: 151px;
	border-width: 1px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #00BFF3;
	padding-left: 4px;
	padding-top: 24px;
	padding-right: 8px;
}

#u9109-5
{
	z-index: 7;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	line-height: 1.4;
	color: #25C4AA;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 94px;
	position: relative;
}

#u9109
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u9108-4
{
	z-index: 3;
	width: 367px;
	min-height: 18px;
	background-color: transparent;
	color: #081631;
	font-size: 12px;
	text-align: center;
	line-height: 1.4;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 7px;
	position: relative;
}

#u9458-17
{
	z-index: 17;
	width: 367px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 3px;
	position: relative;
}

#u9458-15
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9458-15  span,#u9458-15  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u9458,#u9458-3,#u9458-4,#u9458-6,#u9458-7,#u9458-9,#u9458-10,#u9458-12,#u9458-13
{
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u9110
{
	z-index: 12;
	width: 75px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	margin-left: 146px;
	margin-top: 8px;
	position: relative;
	background: transparent url("../../images/logotrns1.png") no-repeat center center;
	background-size: contain;
}

#u9107-bw
{
	z-index: 2;
	min-height: 151px;
	margin-bottom: -1px;
	margin-top: 17px;
}

#u9111-4
{
	z-index: 13;
	width: 18px;
	min-height: 27px;
	border-width: 4px;
	border-style: solid;
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-left: 13px;
	padding-top: 4px;
	color: #00BFF3;
	font-size: 18px;
	text-align: left;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,-1,1,0,0,39);
	-ms-transform: matrix(0,-1,1,0,0,39);
	transform: matrix(0,-1,1,0,0,39);
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 170px;
}

#u9111-4:hover
{
	border-color: #FFFFFF;
	background-color: #00BFF3;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 18px;
	margin: -2px -10000px 0px 0px;
}

#u9083-4:hover p,#u9112-4:hover p,#u9111-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

