#u10933
{
	border-color: #00BFF3;
	background-color: #00BFF3;
}

#u11111-9
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10935-5
{
	background-color: transparent;
	line-height: 1.4;
	color: #25C4AA;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10936
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/ootwcs250x250-u10936-fr.png") no-repeat center center;
	background-size: contain;
}

#u10934-4
{
	background-color: transparent;
	line-height: 1.4;
	color: #081631;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u10937-15
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11111,#u11111-2,#u11111-4,#u11111-5,#u10935,#u10937,#u10937-3,#u10937-4,#u10937-6,#u10937-7,#u10937-9,#u10937-10,#u10937-12
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

