.recaptcha_isnot_showing_audio #u12300.mode-image
{
	background: transparent url("../../images/recaptchamodeaudio.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u12300.mode-audio
{
	background: transparent url("../../images/recaptchamodeimage.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u12300.mode-image:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../../images/recaptchamodeaudiorollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u12300.mode-audio:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../../images/recaptchamodeimagerollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u12300.mode-image:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../../images/recaptchamodeaudiomousedown.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u12300.mode-audio:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../../images/recaptchamodeimagemousedown.jpg") no-repeat center center;
	background-size: contain;
}

.version.out_of_the_box_data_security_business_free_30_day_trial /* version checker */
{
	color: #0000F2;
	background-color: #5BFBF0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1147px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu11344
{
	width: 0.01px;
}

#u11344
{
	z-index: 2;
	min-height: 539.9555194846606px;
	padding-bottom: 0px;
	background: transparent url("../../images/at%20the%20office%20mac%20apple%20wallpapers%20creative%20planning-2982192420.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11344_position_content
{
	padding-bottom: 39px;
}

#u11278
{
	z-index: 4;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	margin-left: 108px;
	position: relative;
	background: transparent url("../../images/out%20of%20the%20box%20data%20security-u9076-fr.png") no-repeat center center;
	background-size: contain;
}

#u11386-4
{
	z-index: 16;
	width: 123px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #000000;
	font-size: 11px;
	letter-spacing: 4px;
	line-height: 1.1;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 129px;
	margin-top: 328px;
	position: relative;
}

#u11344-bw
{
	z-index: 2;
	min-height: 539.9555194846606px;
}

#u11391
{
	z-index: 5;
	height: 298px;
	background-color: #99ADBA;
	background-color: rgba(88,121,142,0.61);
	-pie-background: rgba(88,121,142,0.61);
}

#u11391-bw
{
	z-index: 5;
	margin-top: 154px;
	height: 298px;
}

#u11280-10
{
	z-index: 6;
	min-height: 298px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u11280-10-bw
{
	z-index: 6;
	min-height: 298px;
	margin-top: 154px;
}

#u11387
{
	z-index: 20;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 179px;
	border-width: 0px 0px 5px 5px;
}

#fillinform
{
	margin-left: 190px;
	margin-top: 3px;
	position: relative;
}

#widgetu12292
{
	z-index: 56;
	width: 0.01px;
	height: 366px;
	margin-left: 13px;
	margin-top: 28px;
	position: relative;
}

#widgetu12301
{
	z-index: 57;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu12301.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12302-4
{
	z-index: 58;
	width: 264px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #000000;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu12301.fld-err-st #u12302-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u12303-4
{
	z-index: 62;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu12301.non-empty-st #u12303-4
{
	background-color: #FFFFFF;
}

#widgetu12301:hover #u12303-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12301.focus-st #u12303-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12301.non-empty-st #u12303-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12301:hover #u12303-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12301.focus-st #u12303-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12312
{
	z-index: 66;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu12312.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u12314-4
{
	z-index: 67;
	width: 264px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #000000;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12313-4
{
	z-index: 71;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu12312.non-empty-st #u12313-4
{
	background-color: #FFFFFF;
}

#widgetu12312:hover #u12313-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12312.focus-st #u12313-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12312.non-empty-st #u12313-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12312:hover #u12313-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12312.focus-st #u12313-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u12311-4
{
	z-index: 75;
	width: 213px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 140px;
}

#widgetu12292.frm-sub-st #u12311-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u12310-4
{
	z-index: 79;
	width: 213px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 140px;
}

#widgetu12292.frm-subm-err-st #u12310-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u12309-4
{
	z-index: 83;
	width: 213px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	color: #25FFAA;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 140px;
}

#widgetu12292.frm-sub-st #u12311-4,#widgetu12292.frm-subm-err-st #u12310-4,#widgetu12292.frm-subm-ok-st #u12309-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu12292.frm-subm-ok-st #u12309-4 p
{
	color: #25FFAA;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u12316-17
{
	z-index: 87;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	background: url("../../images/u12316-17.png") no-repeat 0px 0px;
}

#u12316-17:hover
{
	background: url("../../images/u12316-17-r.png") no-repeat 0px 0px;
}

#u12316-17:active
{
	background: url("../../images/u12316-17-m.png") no-repeat 0px 0px;
}

#widgetu12292.frm-sub-st #u12316-17
{
	background: url("../../images/u12316-17-fs.png") no-repeat 0px 0px;
}

#widgetu12317
{
	z-index: 104;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu12317.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u12320-4
{
	z-index: 105;
	width: 264px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #000000;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12319-4
{
	z-index: 109;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu12317.non-empty-st #u12319-4
{
	background-color: #FFFFFF;
}

#widgetu12317:hover #u12319-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12317.focus-st #u12319-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12301.fld-err-st #u12303-4,#widgetu12312.fld-err-st #u12313-4,#widgetu12317.fld-err-st #u12319-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12317.non-empty-st #u12319-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12317:hover #u12319-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12317.focus-st #u12319-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12293
{
	z-index: 113;
	width: 342px;
	height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: -1px;
}

#widgetu12293.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 109px;
	min-height: 0px;
	margin: 179px -10000px 0px 0px;
}

#u12295-4
{
	z-index: 114;
	width: 264px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #000000;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12294-4
{
	z-index: 118;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu12293.non-empty-st #u12294-4
{
	background-color: #FFFFFF;
}

#widgetu12293:hover #u12294-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu12293.focus-st #u12294-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu12293.fld-err-st #u12294-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu12293.non-empty-st #u12294-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12293:hover #u12294-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12293.focus-st #u12294-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12301.fld-err-st #u12303-4 *,#widgetu12312.fld-err-st #u12313-4 *,#widgetu12317.fld-err-st #u12319-4 *,#widgetu12293.fld-err-st #u12294-4 *
{
	color: #D7244C;
	font-style: italic;
}

#recaptcha_image
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u12300
{
	z-index: 123;
	width: 18px;
	height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 313px;
}

#u12297
{
	z-index: 124;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 313px;
	background: transparent url("../../images/recaptcharefresh.png") no-repeat center center;
	background-size: contain;
}

#u12297:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
	background: transparent url("../../images/recaptcharefreshrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u12297:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
	background: transparent url("../../images/recaptcharefreshmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u12296
{
	z-index: 125;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 313px;
	background: transparent url("../../images/recaptchahelp.png") no-repeat center center;
	background-size: contain;
}

#u12296:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
	background: transparent url("../../images/recaptchahelprollover.jpg") no-repeat center center;
	background-size: contain;
}

#u12296:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
	background: transparent url("../../images/recaptchahelpmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu12301_input,#widgetu12301_prompt,#widgetu12312_input,#widgetu12312_prompt,#widgetu12317_input,#widgetu12317_prompt,#recaptcha_response_field,#widgetu12293_prompt
{
	width: 328px;
	min-height: 14px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu12301.focus-st #widgetu12301_prompt,#widgetu12312.focus-st #widgetu12312_prompt,#widgetu12317.focus-st #widgetu12317_prompt,#widgetu12293.focus-st #widgetu12293_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu12301:hover #widgetu12301_input,#widgetu12301.focus-st #widgetu12301_input,#widgetu12301.fld-err-st #widgetu12301_input,#widgetu12301:hover #widgetu12301_prompt,#widgetu12301.fld-err-st #widgetu12301_prompt,#widgetu12312:hover #widgetu12312_input,#widgetu12312.focus-st #widgetu12312_input,#widgetu12312.fld-err-st #widgetu12312_input,#widgetu12312:hover #widgetu12312_prompt,#widgetu12312.fld-err-st #widgetu12312_prompt,#widgetu12317:hover #widgetu12317_input,#widgetu12317.focus-st #widgetu12317_input,#widgetu12317.fld-err-st #widgetu12317_input,#widgetu12317:hover #widgetu12317_prompt,#widgetu12317.fld-err-st #widgetu12317_prompt,#widgetu12293:hover #recaptcha_response_field,#widgetu12293.focus-st #recaptcha_response_field,#widgetu12293.fld-err-st #recaptcha_response_field,#widgetu12293:hover #widgetu12293_prompt,#widgetu12293.fld-err-st #widgetu12293_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu12301.non-empty-st #widgetu12301_prompt,#widgetu12312.non-empty-st #widgetu12312_prompt,#widgetu12317.non-empty-st #widgetu12317_prompt,#widgetu12293.non-empty-st #widgetu12293_prompt
{
	visibility: hidden;
}

#widgetu12305
{
	z-index: 126;
	width: 290px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
}

#widgetu12305.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 290px;
	height: 20px;
	min-height: 0px;
	margin: 301px -10000px 0px 0px;
}

#u12306-6
{
	z-index: 127;
	width: 264px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#widgetu12312.fld-err-st #u12314-4,#widgetu12317.fld-err-st #u12320-4,#widgetu12293.fld-err-st #u12295-4,#widgetu12305.fld-err-st #u12306-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12301.fld-err-st #u12302-4 p,#widgetu12301.fld-err-st #u12302-4 span,#widgetu12312.fld-err-st #u12314-4 p,#widgetu12312.fld-err-st #u12314-4 span,#widgetu12317.fld-err-st #u12320-4 p,#widgetu12317.fld-err-st #u12320-4 span,#widgetu12293.fld-err-st #u12295-4 p,#widgetu12293.fld-err-st #u12295-4 span,#widgetu12305.fld-err-st #u12306-6 p,#widgetu12305.fld-err-st #u12306-6 span,#widgetu12305.fld-err-st #u12306-6 a
{
	color: #D7244C;
}

#u12306
{
	color: #000000;
}

#u12308
{
	z-index: 133;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12308 input.not_checked + label
{
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:not(:checked) + label
{
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u12308 input.checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u12308 input.not_checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:not(:checked):active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u12308 input.checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u12308 input.not_checked:hover + label,#widgetu12305.focus-st #u12308 input.not_checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:not(:checked):hover + label,#widgetu12305.focus-st #u12308 input:not(:checked) + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u12308 input.checked:hover + label,#widgetu12305.focus-st #u12308 input.checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u12308 input:checked:hover + label,#widgetu12305.focus-st #u12308 input:checked + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu12305_input
{
	width: 16px;
	height: 16px;
}

#pu10933
{
	width: 0.01px;
	margin-top: 47px;
}

#u10933
{
	z-index: 21;
	min-height: 112.88915382610116px;
	padding: 32px 90px 0px;
}

#u11111-9
{
	z-index: 47;
	width: 200px;
	min-height: 21px;
}

#u10935-5
{
	z-index: 26;
	width: 180px;
	min-height: 18px;
	margin-left: 10px;
	margin-top: 2px;
}

#u10936
{
	z-index: 31;
	width: 35px;
	height: 47px;
	margin-left: 82px;
	margin-top: 25px;
}

#u10933-bw
{
	z-index: 21;
	min-height: 112.88915382610116px;
}

#u10934-4
{
	z-index: 22;
	min-height: 18px;
}

#u10934-4-bw
{
	z-index: 22;
	min-height: 18px;
	margin-top: 80px;
}

#u10937-15
{
	z-index: 32;
	min-height: 22px;
}

#u10937-15-bw
{
	z-index: 32;
	min-height: 22px;
	margin-top: 6px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

