.version.out_of_the_box_data_security_business_free_30_day_trial /* version checker */
{
	color: #0000E6;
	background-color: #765DED;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1377.9128307652195px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content,#pu11344
{
	width: 0.01px;
}

#u11344
{
	z-index: 2;
	min-height: 539.9555194846606px;
	padding-bottom: 0px;
	background: transparent url("../../images/at%20the%20office%20mac%20apple%20wallpapers%20creative%20planning-2982192420.jpg") no-repeat center bottom;
	background-size: cover;
}

#u11344_position_content
{
	padding-bottom: 39px;
}

#u11278
{
	z-index: 4;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	margin-left: 107px;
	position: relative;
	background: transparent url("../../images/ootbdslogo1.png") no-repeat center center;
}

#u11386-4
{
	z-index: 16;
	width: 123px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #000000;
	font-size: 11px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 1.1;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 129px;
	margin-top: 328px;
	position: relative;
}

#u11344-bw
{
	z-index: 2;
	min-height: 539.9555194846606px;
}

#u11391
{
	z-index: 5;
	height: 298px;
	background-color: #99ADBA;
	background-color: rgba(88,121,142,0.61);
	-pie-background: rgba(88,121,142,0.61);
}

#u11391-bw
{
	z-index: 5;
	margin-top: 154px;
	height: 298px;
}

#u11280-10
{
	z-index: 6;
	min-height: 298px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u11280-10-bw
{
	z-index: 6;
	min-height: 298px;
	margin-top: 154px;
}

#u11387
{
	z-index: 20;
	width: 18px;
	height: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-5,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 179px;
	border-width: 0px 0px 5px 5px;
}

#fillinform
{
	margin-left: 190px;
	margin-top: 3px;
	position: relative;
}

#u12156
{
	z-index: 56;
	min-height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12156-bw
{
	z-index: 56;
	min-height: 679px;
	margin-top: 6px;
}

#pu10933
{
	width: 0.01px;
	margin-top: -2px;
}

#u10933
{
	z-index: 21;
	min-height: 112.88915382610116px;
	padding: 32px 90px 0px;
}

#u11111-9
{
	z-index: 47;
	width: 200px;
	min-height: 21px;
}

#u10935-5
{
	z-index: 26;
	width: 180px;
	min-height: 18px;
	margin-left: 10px;
	margin-top: 2px;
}

#u10936
{
	z-index: 31;
	width: 35px;
	height: 47px;
	margin-left: 82px;
	margin-top: 25px;
}

#u10933-bw
{
	z-index: 21;
	min-height: 112.88915382610116px;
}

#u10934-4
{
	z-index: 22;
	min-height: 18px;
}

#u10934-4-bw
{
	z-index: 22;
	min-height: 18px;
	margin-top: 80px;
}

#u10937-15
{
	z-index: 32;
	min-height: 22px;
}

#u10937-15-bw
{
	z-index: 32;
	min-height: 22px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

