.version.out_of_the_box_data_security_business_pro_thank_you /* version checker */
{
	color: #0000EF;
	background-color: #77F377;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 640px;
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/out%20of%20the%20box%20data%20security%20business%20wallpaper.jpg") no-repeat left top;
}

#pu13650
{
	width: 0.01px;
	margin-right: -10000px;
}

#u13650
{
	z-index: 2;
	min-height: 540px;
	background: transparent url("../../images/out%20of%20the%20box%20data%20security%20business%20wallpaper.jpg") no-repeat center bottom;
	background-size: cover;
}

#u13650_position_content
{
	padding-bottom: 16px;
	width: 100%;
}

#u13661
{
	z-index: 3;
	width: 165px;
	height: 154px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 108px;
	position: relative;
	background: transparent url("../../images/out%20of%20the%20box%20data%20security-u9076-fr.png") no-repeat center center;
	background-size: contain;
}

#u13637
{
	z-index: 52;
	width: 345px;
	border-style: solid;
	border-width: 11px;
	border-color: #F3AE00;
	background-color: #F3AE00;
	border-radius: 10px;
	margin-left: 6px;
	margin-top: 320px;
	position: relative;
}

#u13637:hover
{
	border-color: #BFF300;
	background-color: #BFF300;
	width: 345px;
	min-height: 0px;
	margin: 320px 0px 0px 6px;
}

#u13636-4
{
	z-index: 53;
	width: 318px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 13px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u13650-bw
{
	z-index: 2;
	min-height: 540px;
}

#u13660
{
	z-index: 4;
	height: 303px;
	background-color: #99ADBA;
	background-color: rgba(88,121,142,0.61);
	-pie-background: rgba(88,121,142,0.61);
}

#u13660-bw
{
	z-index: 4;
	margin-top: 154px;
	height: 303px;
}

#u13662-11
{
	z-index: 5;
	min-height: 303px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u13662-2
{
	font-size: 48px;
}

#u13662-3,#u13662-5,#u13662-7,#u13662-9
{
	font-size: 30px;
}

#u13662-11-bw
{
	z-index: 5;
	min-height: 303px;
	margin-top: 154px;
}

#pu10933
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -2px;
}

#u10933
{
	z-index: 16;
	min-height: 43px;
	padding: 32px 90px 28px;
}

#u11111-9
{
	z-index: 43;
	width: 200px;
	min-height: 21px;
	position: relative;
}

#u10935-5
{
	z-index: 23;
	width: 180px;
	min-height: 18px;
	margin-left: 10px;
	margin-top: 4px;
	position: relative;
}

#u10933-bw
{
	z-index: 16;
	min-height: 43px;
}

#u10934-6
{
	z-index: 17;
	min-height: 18px;
}

#u10934-6-bw
{
	z-index: 17;
	min-height: 18px;
	margin-top: 80px;
}

#u10937-15
{
	z-index: 28;
	min-height: 22px;
}

#u10937-15-bw
{
	z-index: 28;
	min-height: 22px;
	margin-top: 7px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

.verticalspacer
{
	min-height: 1px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

