.version.out_of_the_box_data_security_contact_us /* version checker */
{
	color: #000006;
	background-color: #FD5DB1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1098.7628307652267px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#ptop
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 178px;
}

#u11065
{
	z-index: 3;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: #00BFF3;
}

#u11065-bw
{
	z-index: 3;
	height: 71px;
}

#u11061
{
	z-index: 4;
	width: 165px;
	height: 154px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 107px;
	background: transparent url("../../images/ootbdslogo1.png") no-repeat center center;
}

#u11104-4
{
	z-index: 40;
	min-height: 137px;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11104-4-bw
{
	z-index: 40;
	min-height: 137px;
	margin-top: 7px;
}

#u11105
{
	z-index: 44;
	width: 279px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 19px;
	position: relative;
}

#u11107
{
	z-index: 45;
	width: 279px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 8px;
	position: relative;
}

#u11109
{
	z-index: 46;
	width: 279px;
	min-height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 9px;
	position: relative;
}

#u12160
{
	z-index: 47;
	min-height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12160-bw
{
	z-index: 47;
	min-height: 679px;
	margin-top: -6px;
	margin-bottom: -6px;
}

#pu10933
{
	width: 0.01px;
	margin-top: -2px;
}

#u10933
{
	z-index: 5;
	min-height: 112.88915382610116px;
	padding: 32px 90px 0px;
}

#u11111-9
{
	z-index: 31;
	width: 200px;
	min-height: 21px;
}

#u10935-5
{
	z-index: 10;
	width: 180px;
	min-height: 18px;
	margin-left: 10px;
	margin-top: 2px;
}

#u10936
{
	z-index: 15;
	width: 35px;
	height: 47px;
	margin-left: 82px;
	margin-top: 25px;
}

#u10933-bw
{
	z-index: 5;
	min-height: 112.88915382610116px;
}

#u10934-4
{
	z-index: 6;
	min-height: 18px;
}

#u10934-4-bw
{
	z-index: 6;
	min-height: 18px;
	margin-top: 80px;
}

#u10937-15
{
	z-index: 16;
	min-height: 22px;
}

#u10937-15-bw
{
	z-index: 16;
	min-height: 22px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

